[Unit]
Description=Maintenance for mlmmj mailing lists
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/find /var/spool/mlmmj -mindepth 1 -maxdepth 1 -type d -exec /usr/bin/mlmmj-maintd -F -d {} \;

[Install]
WantedBy=multi-user.target
